<div>
    <mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            >
            <dl>
                <dt>
                  <span>{{tile.header | uppercase}}</span>
                </dt>
                <dd class="quote-title">
                  <span *ngIf="tile.type === 'text'">{{profile[tile.value] }}</span>
                  <span *ngIf="tile.type === 'number'">{{profile[tile.value] | number}}</span> 
                  <a href="{{profile[tile.value]}}" *ngIf="tile.type === 'url'">{{profile[tile.value]}}</a>
                </dd>
            </dl>
          </mat-grid-tile>
      </mat-grid-list>

</div>