<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="100">
        <h1>Add New Post</h1>
        <mat-horizontal-stepper  [linear]="isLinear" #stepper>
           
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" class="full-width" #stepOneForm="ngForm">
                <ng-template matStepLabel>Post Information</ng-template>
                <div class="test">
                <div>
                <mat-form-field  class="example-full-width">
                  <input matInput placeholder="Title"  formControlName="title" required>
                </mat-form-field>
                </div>
                <div>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Subtitle"  formControlName="subtitle">
                </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                      <input matInput placeholder="Reference"  formControlName="ref">
                    </mat-form-field>
                    </div>
                <div>
                <mat-form-field style="width:600px !important">
                    <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="postedDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                      <input matInput  placeholder="Image URL" formControlName="imageurl">
                    </mat-form-field>
                    </div>
                </div>
                <div>
                  <mat-form-field class="example-full-width">
                    <mat-label>Source</mat-label>
                    <mat-select formControlName="source" required>
                      <mat-option *ngFor="let item of items" [value]="item">
                        {{item}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                
                
                <div>
                  <button mat-raised-button matStepperNext color="primary" [disabled]="!stepOneForm.form.valid" >Next</button>
                </div>
              </form>
           
            </mat-step>
            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" #stepTwoForm="ngForm">
                <ng-template matStepLabel>Post Description</ng-template>
                  
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Author"  formControlName="author" required>
                  </mat-form-field>
                  
                  <mat-form-field class="example-full-width">
                    <textarea matInput placeholder="Description" rows="10" cols="40" formControlName="description"></textarea>
                  </mat-form-field>
                <div>
                  <button mat-raised-button matStepperPrevious color="warn">Back</button>
                  <button mat-raised-button matStepperNext color="primary" [disabled]="!stepTwoForm.form.valid" >Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              
              <div *ngIf="!saveMode">
                  <h4>Are you ready to save the progress?</h4>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
                <button mat-raised-button (click)="saveData()" color="accent">Save</button>
              </div>
              <div *ngIf="saveMode">
                <h4>Content Successfully Saved</h4>
                <button mat-raised-button color="primary" (click)="navigateHomePage()">Go to Home Page</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
    </div>
</div>