<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="33" *ngFor="let market of marketsQuotesChartData;let i = index;">
        <mat-card>
            <mat-card-title>{{market.quote.latestPrice | currency}}<span class="stock-changeper">{{market.quote.change | currency}}</span> <span class="stock-changeper">({{market.quote.changePercent | percent}})</span></mat-card-title>
            <mat-card-subtitle>{{market.quote.companyName}} <span class="symbol" (click)="openStockDetailView(market.quote.symbol)">({{ market.quote.symbol}})</span></mat-card-subtitle>
            <mat-card-subtitle>{{market.quote.latestTime}}</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
                <!--chart [id]="market.quote.symbol" [chartConfig]="market.charts"></chart-->
                
            </mat-card-content>
          </mat-card>
    </div>
</div>
<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
        <mat-card>
            <mat-card-title>Sector Performance</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <div class="tiles">
                <div class="tile" *ngFor="let sector of sectorsInfo">
                  {{sector.name}}
                  <div class="percent">
                    {{sector.performance | percent}}    
                  </div>
                </div>
                <!--div class="tile">
                    Test

                </div>
                <div class="tile">
                    Test
                </div>

                <div class="tile">
                    Test
                </div>
                <div class="tile">
                      Test
                </div>
                <div class="tile">
                    Test
                </div-->
              </div>
              
            </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>General News</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              
            </mat-card-actions>
        </mat-card>
        <div layout-gt-sm="row">
          <div flex-gt-sm="50">
              <mat-card>
                  <mat-card-title>Top Losers</mat-card-title>
                  <mat-divider></mat-divider>
                  <mat-card-content>
                    <stock-listing-table [tableData]="marketLosers"></stock-listing-table>
                  </mat-card-content>
              </mat-card>
          </div>
          <div flex-gt-sm="50">
              <mat-card>
                  <mat-card-title>Top Gainers</mat-card-title>
                  <mat-divider></mat-divider>
                  <mat-card-content>
                    <stock-listing-table [tableData]="marketGainers"></stock-listing-table>
                  </mat-card-content>
              </mat-card>
          </div>
        </div>
        
        
        
        
    </div>
    <div flex-gt-sm="40">
        <mat-card>
            <mat-card-title>People also brought</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              
            </mat-card-content>
          </mat-card>
       
        <mat-card>
            <mat-card-title>My Watch List</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <stock-listing-table [tableData]="similarStocksInfo"></stock-listing-table>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
              <a mat-button>
                Add Stock to Watch List
              </a>
            </mat-card-actions>
          </mat-card>
        
    </div>
</div>