<div>
    <div class="info-container">
      <div class="info-tile">
        <h4>EXCHANGE</h4>
        <span>{{companyData?.exchange}}</span>
      </div>
      <div class="info-tile">
          <h4>CEO</h4>
          <span>{{companyData?.CEO}}</span>
      </div>
      <div class="info-tile">
          <h4>EMPLOYEES</h4>
          <span>{{companyData?.employees | number}}</span>
      </div>
      
    </div>
    <div class="info-container">
        <div class="info-tile">
            <h4>SECTOR</h4>
          <span>{{companyData?.sector}}</span>
        </div>
        <div class="info-tile">
            <h4>INDUSTRY</h4>
            <span>{{companyData?.industry}}</span>
        </div>
        <div class="info-tile">
            <h4>WEBSITE</h4>
            <span class="blue-color" (click)="open(companyData.website)">{{companyData.website}}</span>
        </div>
    </div>
    <!--mat-grid-list cols="6" rowHeight="50px">
        <mat-grid-tile
            *ngFor="let tile of tiles"
            [colspan]="tile.cols"
            [rowspan]="tile.rows"
            >
            <dl>
                <dt>
                  <span>{{tile.header | uppercase}}</span>
                </dt>
                <dd class="quote-title">
                  <span *ngIf="tile.type === 'text'">{{companySummary[tile.value] }}</span>
                  <span *ngIf="tile.type === 'number'">{{companySummary[tile.value] | number}}</span> 
                  <a href="{{companySummary[tile.value]}}" *ngIf="tile.type === 'url'">{{companySummary[tile.value]}}</a>
                </dd>
            </dl>
          </mat-grid-tile>
      </mat-grid-list-->

</div>