<td-layout>
    <td-layout-nav>
      <div td-toolbar-content layout="row" layout-align="start center" flex>
        <!--button mat-icon-button td-menu-button tdLayoutToggle>
          <mat-icon>menu</mat-icon>
        </button-->
       
        <span [routerLink]="['/']" class="cursor-pointer">ABC Investment Research</span>
        <span flex></span>
        
        <a mat-icon-button matTooltip="Github" href="javascript:void(0);" (click)="showSearchBar = !showSearchBar"><mat-icon>search</mat-icon></a>
          
        <mat-form-field [floatLabel]="'never'" *ngIf="showSearchBar">
          <input matInput placeholder="Search Stock" aria-label="Stock"  [matAutocomplete]="auto" [formControl]="stockCtrl" >
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option *ngFor="let stock of filteredStocks | async" [value]="stock.symbol" (click)="openStockDetailsPage(stock.stockSymbol)">
              <span>{{stock.companyName}} ({{stock.stockSymbol}})</span>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div>
        <!--router-outlet></router-outlet-->
      </div>
      <td-layout-footer>
        <div layout="row" layout-align="start center">
          <span class="mat-caption">Copyright &copy; 2019 ABC Investment Research. All rights reserved</span>
        </div>
      </td-layout-footer>
    </td-layout-nav>
  </td-layout>