<div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
        <mat-card>
          <mat-card-title>
            {{stockInfo.latestPrice | currency}} 
            <span class="stock-changeper">{{stockInfo.change | currency}}</span> 
            <span class="stock-changeper">({{stockInfo.changePer | percent}})</span>
            <span style="float: right;">
              <span  *ngIf="!watchListFlag" class="blue-color" (click)="toggleWatchList(stockInfo.stockSymbol, 'add')">
                <mat-icon>star_border</mat-icon>
              </span>
              <span *ngIf="watchListFlag" class="blue-color" (click)="toggleWatchList(stockInfo.stockSymbol, 'remove')">
                <mat-icon>star</mat-icon>
              </span>

            </span>
          </mat-card-title>
          <mat-card-subtitle>{{stockInfo.companyName}} ({{stockInfo.stockSymbol | uppercase}})</mat-card-subtitle>
          <mat-card-subtitle>{{stockInfo.latestTime}}</mat-card-subtitle>
          <mat-divider></mat-divider>
          <mat-card-content>
              <chart  [id]="stockInfo.stockSymbol" [chartConfig]="stockChartConfig"></chart>
          </mat-card-content>
        </mat-card>
        <mat-card>
            <mat-card-title>{{stockInfo.companyName}}</mat-card-title>
            <mat-card-subtitle>{{companyInfo?.description}}</mat-card-subtitle>
            <mat-divider></mat-divider>
            <mat-card-content>
              <company-info [companySummary]="companyInfo"></company-info>
            </mat-card-content>
            <mat-divider></mat-divider>
            <mat-card-actions>
                Tags<td-chips 
                  color="ascent"
                  [disabled]="true"
                  [(ngModel)]="stockCategoryTiles"
                  [disabled]="disabled"
                  >
                </td-chips>
            </mat-card-actions>
          </mat-card>
        
          <mat-card>
              <mat-card-title>News</mat-card-title>
              <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
                <news [data]="stockNews"></news>
              </mat-card-content>
          </mat-card>
      </div>
      <div flex-gt-sm="40">
          <mat-card>
              <mat-card-title>Stock Profile</mat-card-title>
              <mat-card-subtitle>Recent activity from select members</mat-card-subtitle>
              <mat-divider></mat-divider>
              <mat-card-content>
                  <company-profile [profile]="companyInfo"></company-profile>
              </mat-card-content>
          </mat-card>
          
          <mat-card>
            <mat-card-title>People also brought</mat-card-title>
            <mat-divider></mat-divider>
            <mat-card-content>
              <stock-listing-table [tableData]="similarStocksInfo"></stock-listing-table>
            </mat-card-content>
          </mat-card>
        </div>
</div>