/* You can add global styles to this file, and also import other style files */
.stock-changeper{
    font-size: 16px;
    font-weight: normal;
}

.quote-title{
    margin-inline-start:0px !important;
}

.symbol{
    color: blue;
    cursor:pointer;
    &:hover{
        decoration: underline;
    }
}

.sector-cotainer{
    display: flex;
    flex-flow: row wrap;
    &.sector {
        background: red !important;
       /* background: white;*/
    margin: 10px;
    height: 100px;
    width: calc( (100% / 3) - 20px );
    padding: 10px;
    
    }
}


.tiles {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .tile {
      background: #c9d4e5;
      margin: 10px;
      height: 100px;
      width: calc( (100% / 3.5) - 20px );
      padding: 10px;
      .percent{
        margin-top:40px;
        text-align:right;
        padding:20px;
      }
      &:last-child{
          width: calc( (100% / 2.6) - 20px );
      }
      &:nth-last-child(2){
          width: calc((100% / 2) - 20px);
      }
    }
}  