/* You can add global styles to this file, and also import other style files */
$green-color: green;
$red-color: red;
$blue-color: blue;
$light-blue-color: #29b6f6;
.stock-changeper{
    font-size: 16px;
    font-weight: normal;
}

.quote-title{
    margin-inline-start:0px !important;
}

.symbol{
    color: $blue-color;
    cursor:pointer;
    &:hover{
        decoration: underline;
    }
}

.sector-cotainer{
    display: flex;
    flex-flow: row wrap;
    &.sector {
        background: red !important;
       /* background: white;*/
    margin: 10px;
    height: 100px;
    width: calc( (100% / 3) - 20px );
    padding: 10px;
    
    }
}
.white-color{
    color: white;
}
.green-bgb-color{
    background: $green-color;
    border-color: $green-color !important;
}

.red-bgb-color {
    background: $red-color;
    border-color: $red-color !important;
}

.blue-color{
    color: $blue-color;
    cursor:pointer;
}

.tiles {
  
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    .tile {
      background: #c9d4e5;
      margin: 10px;
      height: 100px;
      width: calc( (100% / 3.5) - 20px );
      padding: 10px;
      .name {
          font-size: 16px;
      }

      .percent{
        margin-top:40px;
        text-align:right;
        padding:16px;
        span{
            border: 1px solid;
            color: white;
            padding: 4px;
        }
      }
      &:last-child{
          width: calc( (100% / 2.6) - 20px );
      }
      &:nth-last-child(2){
          width: calc((100% / 2) - 20px);
      }
    }
}  

.input-full-width {
    width: 100%;
}

.form-container{
    display:flex;
    flex-direction: column;
}

.info-container{
    display: flex;
    flex-direction: row;
    .info-tile{
        width: 30%;
    }
}
.float-right{
    float: right;
}

.padding8{
    padding: 8px;
}
.padding16{
    padding:16px;
}
.font20{
    font-size: 20px;
}
.feed-container-box{
    height:140px;
    border: 1px solid #ececec;
    margin-bottom:5px;
    .feed-container{
        display:flex;
        flex-wrap: row wrap;
        justify-content: space-around;
        .feed-content{
            padding:10px;
            
        }
    }
}
