/* You can add global styles to this file, and also import other style files */
.stock-changeper{
    font-size: 16px;
    font-weight: normal;
}

.quote-title{
    margin-inline-start:0px !important;
}

.symbol{
    color: blue;
    cursor:pointer;
    &:hover{
        decoration: underline;
    }
}

.sector-cotainer{
    display: flex;
    flex-flow: row wrap;
    .sector {
        background: red !important;
       /* background: white;*/
    margin: 10px;
    height: 100px;
    width: calc( (100% / 3) - 20px );
    padding: 10px;
    
    }
}